* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    /* background-color: black; */
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Poppins&display=swap')
}

body {
    background-color: rgb(0, 0, 0);
}

.main {
    position: relative;
    height: 100vh;
    background-image: url("Assets/images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 100vh;
    background-color: black;
    opacity: 0.65;
    width: 100%;
    top: 0;
    position: absolute;
}

.nav {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 100px;
    max-width: 60vw;
    display: flex;
    margin: auto;
    /* justify-content: center; */
}

.maincontent {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    display: flex;
    height: calc(100% - 100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 23px;
}

.maincontent> :first-child {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.maincontent> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.maincontent> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.email input {
    font-size: 16px;
    padding: 5px 70px;
    font-weight: 400;
    line-height: 24px;
    /* width: 335px; */
    color: white;
    border: 1px solid rgb(96, 94, 94);
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.8);
}

.navbtn {
    margin-top: 30px;
    padding: 4px;
    color: white;
    border-radius: 5px;
    /* font-weight: 900; */
    font-size: 16px;
    cursor: pointer;
}

.emailbtn {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.redbtn {
    cursor: pointer;
    background-color: red;
    /* font-size:20px; */
    font-weight: 700;
    color: white;
    border-radius: 5px;
    /* padding: 5px 10px; */
    border: 1px solid red;
}

.redbtn:hover {
    background-color: rgba(255, 0, 0, 0.732);
}

.eng {
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}

.separation {
    height: 7px;
    background-color: rgba(128, 128, 128, 0.3);
}

.email {
    display: flex;
    gap: 10px;
}

/* first Section  css here */
.firstsec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    /* text-align: center; */
    z-index: 10;
    color: white;
    padding: 15px;
}

.firstsec img {
    width: 555px;
    position: relative;
    z-index: 11;
    top: 136px;
}

.firstp {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 23px;
}

.secondp {
    font-size: 24px;
    font-weight: bolder;
}

.secimg img {
    position: relative;
    z-index: 11;
    padding: 10px;
}

/* .secimg{
    width:555px;
    height:417px;
} */

.secimg video {
    position: relative;
    top: -200px;
    z-index: 10;
    right: -66px;
    width: 418px;
}

/* second section css */
.secondsec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    /* text-align: center; */
    z-index: 10;
    color: white;
    padding: 60px 0px;
}

#secondimg {
    width: 52px;
    bottom: 0px;
    left: 10px;
    /* padding:10px; */
}

#secondimg1 {
    width: 555px;
}

#secondspan {
    padding: 25px 20px;
}

.illdiv {
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    display: flex;
    top: -109px;
    left: 141px;
    z-index: 11;
    padding: 5px;
    width: 300px;
    background: black;
}

.gif {
    height: 55px;
    margin-top: 6px;
}

#download {
    color: rgb(103, 103, 225);
}


/* third section css */
.thirdsec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    /* text-align: center; */
    z-index: 10;
    color: white;
    padding: 15px;
}

.thirdsec img {
    width: 555px;
    position: relative;
    z-index: 11;
    top: 136px;
}

#thirdsecvid {
    position: relative;
    top: -263px;
    z-index: 10;
    right: -99px;
    width: 351px;
}

/* fourth section css */
.fourthsec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    /* text-align: center; */
    z-index: 10;
    color: white;
}


/* FAQ css here */
.fac {
    position: relative;
    display: flex;
    background-color: #2b2626;
    padding: 10px;
    justify-content: space-between;
    font-size: 24px;
    width: 70vw;
    margin: 10px auto;
    padding: 30px;
    color: white;
    cursor: pointer;

}

.fac:hover {
    background-color: rgba(128, 128, 128, 0.473);
    transition: all 0.3s ease-in-out;
}

.facsection h2 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 60px 0px 30px 0px;
}

#facendspan {
    color: white;
    font-size: 20px;
}

.facend {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

/* footer section css */
.footersection {
    width: 86vw;
    /* display: flex;
    text-align: center; */
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 40px;
    font-size: 14px;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: 135px;
}

.footbtn {
    width: 105px;
}

.footque {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 20px;
    /* padding: 14px; */
    /* margin-bottom: 6px; */
    left: 256px;
}

span #contact{
    color:#abff00;
}

#copyright{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width:98vw;
}

#contact2{
    color:white;
    font-size: 16px;
}
/* media queries */

@media screen and (max-width:800px) {

    .secimg video {
        position: relative;
        top: -233px;
        z-index: 10;
        right: -83px;
        width: 447px;

    }
}

@media screen and (max-width:870px) {
    .nav {
        max-width: 90vw;
    }

    .firstsec {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .secimg video {
        position: relative;
        top: -215px;
        z-index: 10;
        right: 2px;
        width: 418px;
    }

    .secondsec {
        flex-wrap: wrap;
        text-align: center;
    }

    .thirdsec {
        flex-wrap: wrap;
        text-align: center;
    }

    .fourthsec {
        flex-wrap: wrap;
        padding: 15px;
        text-align: center;
    }

    .firstp {
        font-size: 32px;
    }

    .secondp {
        font-size: 18px;
    }

    .maincontent> :first-child {
        font-size: 32px;
        font-weight: bolder;
        text-align: center;
    }

    .maincontent> :nth-child(2) {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .maincontent> :nth-child(3) {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .facsection h2 {
        font-size: 32px;
    }

    .facsection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* .thirdsec img{
        width: 352px;
        position: relative;
        z-index: 11;
        top: 90px;
        left: -19px;
    } */
    #thirdsecvid {
        right: 3px;
    }

    .fac {
        font-size: 18px;
    }

    #facendspan {
        font-size: 18px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 14px;
    }
}

@media screen and (max-width:1080px) {
    .fourthsec img {
        width: 495px;
    }
}

@media screen and (max-width:620px) {
    .firstsec img {
        width: 408px;
        position: relative;
        z-index: 11;
        top: 136px;
    }

    .secimg video {
        position: relative;
        top: -124px;
        z-index: 10;
        right: 2px;
        width: 298px;
    }

    .gif {
        height: 40px;
        margin-top: 16px;
    }

    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emailbtn {
        font-size: 18px;
        width: 144px;
    }

    .footque {
        left: 0;
        padding: 10px;
    }

    .footer-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        left: 0px;
    }

    #secondimg1 {
        width: 400px;
    }

    #secondspan {
        padding: 15px 10px;
    }

    .illdiv {
        top: -109px;
        left: 80px;
        width: 245px;
    }

    .secthirdimg img {
        width: 356px;
    }

    #thirdsecvid {
        top: -126px;
        right: 5px;
        width: 230px;
    }

    .fourthsec img {
        width: 300px;
    }
}

@media screen and (max-width:430px) {
    .firstsec img {
        width: 300px;
    }

    #secondimg1 {
        width: 300px;
    }

    .illdiv {
        top: -60px;
        left: 10px;
        width: 290px;
    }

    .firstsec {
        padding: 0px;
        padding-left: 15px;
    }

    .secimg video {
        top: -102px;
        width: 280px;
    }

    .nav img {
        margin-left: 10px;
        width: 100px;
    }

    .email input {
        padding: 5px 30px;
    }

    .emailbtn {
        padding: 6px 10px;
        font-weight: 500;
    }

    .redbtn {
        font-weight: 500;
    }
}