/* Navigation section */
.navbar {
    flex-direction: column;
}

.navbar ul li a {
    font-size: 10px;
}

/* Home section  */
#home {
    padding: 0px 20px;
    flex-direction: column;
}

#home p {
    font-size: 12px;
}

#home::before {
    height: 60%;
    width: 100%;
}


/* Services section  */
#services {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services .box {
    flex-wrap: wrap;
    margin: 4px 10px;
    padding: 5px;
}
#services .box img {
    /* flex-wrap: wrap; */
    width:60px;
}

/* Client section  */
.client-section {
    flex-wrap: wrap;
}

.clients img {
    width: 60px;
    flex-wrap: wrap;
    margin:4px 6px;
}


/* contact us section  */



/* footer section  */

/* utility section  */
#h-primary {
    font-size: 10px;
}