/* CSS Reset? */
* {
    margin: 0px;
    padding: 0px;
}

/* Varbails */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    top: 0px;
    position: relative;
}

/* Navigation Bar :logo */
.logo {
    margin: 23px 40px;
    height: 10px;
}

/* Navigation Bar :logo img */
.logo img {
    margin: -11px -22px;
    cursor: pointer;
}

/* Navigation Bar :list */
ul {
    display: flex;
    font-family: 'Secular One', sans-serif;

}

.navbar::before {
    background-color: black;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

ul li {
    margin: 15px;
    list-style: none;
    font-size: 1.1rem;
}

li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 3px 4px;
    border-radius: 14px;

}

li a:hover {
    color: black;
    /* border-radius: 14px; */
    background-color: white;
}

.navbar {
    position: relative;
    top: 0px;
    left: 0px;
}

/* Home section */
#home {
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    Height: 350px;
    /* font-size: 2rem; */
}

#home::before {
    content: "";
    height: 72%;
    width: 100%;
    background: url(back11.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

/* Utility class */
#home h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.btn {
    padding: 6px 20px;
    margin: 17px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: brown;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
    /* color:black; */
}

/* services section */
#services {
    margin: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#services .box {
    border: 2px solid brown;
    text-align: center;
    width: 235px;
    margin: 4px 10px;
    border-radius: 23px;
    /* font-size: 10px; */
    background-color: #fcf7f7;
    padding: 5px;
}

#services .box img {
    height: 150px;
    margin: auto;
    padding: 6px;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

/* #services-container{
    height:100px;
    margin:auto;
} */
.h-primary {
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}

.h-secondary {
    font-size: 2.1rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}

.center {
    text-align: center;
}

/* client section */
.client-section{
    position:relative;
}
.client-section::before{
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    background:url(../backtn.jpg) no-repeat center/cover;
    z-index: -1;
    opacity:0.4;
}
.clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients img {
    height: 100px;
    margin: 4px 28px;
}
#client-items{
    padding:34px;
}
/* contact section */
#contact{
    position:relative;
}
#contact::before{
    content:'';
    height: 100%;
    width: 100%;
    position:absolute;
    background:url(../contact.jpg) no-repeat center/cover;
    z-index: -1;
    opacity:0.5;
}
/* form section */
.contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.contact-box input,
.contact-box textarea{
width:100%;
border-radius: 5px;
font-size: 15px;
text-align: center;
}
.contact-box form{
    width:40%;
}
.contact-box label{
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
/* footer section */
footer{
    background-color: black;
    color:white;
    padding:9px 20px;
}